{% extends 'blog/base.html' %} {% load bootstrap %} {% block content %}

<form method="POST" >
    <h1 class="text-center m-3">Deletar Usuário</h1>

    <div class="row">
        <div class="col-12 mb-3">
            <div class="alert alert-dark" role="alert">
                <h4 class="text-center">Cuidado</h4>
                <h5>sr(a) <strong>{{user}}</strong> !!</h5>
                <span>Sua conta será deletada, deseja seguir?</span>
            </div>
        </div>
    </div>
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Deletar</button>
</form>

{% endblock content %}